.login-container {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  padding: 5px;
  position: relative;
  height: fit-content;
  width: inherit;
  max-width: 450px;
  min-width: 100px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 0%;
  align-items: center;
  justify-items: auto;
  padding: 2rem;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 18px whitesmoke;
  border: none;
}

.login-page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  padding: 0px;
  padding-top: 0px;
  color: whitesmoke;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: rgba(245, 245, 245, 0) solid 1px;
}

.login-page h3{
  color:whitesmoke;
  width: 99%;
  margin-top: 0px;
  padding-left: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 0px;
  position: fixed;
  top: 5px;

}
.login-icon {
  color: whitesmoke;
  margin-top: 0px;
  margin-bottom: 0px;
}
.login-container h1 {
  font-size: 2rem;
  margin-bottom: 0px;
  margin-top: 0px;
  color: whitesmoke;
}
.login-container p {
  font-size: 1.0rem;
  color:whitesmoke; /* Lighter text for footer */
}

.login-container h2 {
  color: whitesmoke;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 1.7rem; 
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-container input {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 1rem;
  border-radius: 12px;
  color: whitesmoke;
  font-size: 1rem;
  outline: none;
  backdrop-filter: blur(10px);
  transition: border 0.3s ease, box-shadow 0.3s ease;
  width: 400px;
  margin-bottom: 1rem;
  padding-left: 15px;
}

.login-container input:focus{
  border: solid whitesmoke 2px; /* Highlight border on focus */
  outline: none
}

.register-prompt {
  margin-top: 40px;
  font-size: 1rem;
  margin-bottom: 0px;
  color: whitesmoke;
}


.login-container link-btn {
  border: none;
  color: #ccc;
  cursor: pointer;
  text-decoration: underline;
}

.login-container link-btn:hover {
  color: whitesmoke; /* Lighter shade on hover */
}
.signin-btn {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid whitesmoke;
  border-radius: 0px;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  color: whitesmoke;
  backdrop-filter: blur(10px);
  transition: all 0.4s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: 3rem;
  text-align: center;
}

.signin-btn:hover {
  box-shadow: 0 0 12px whitesmoke;
  transform: translateY(-3px); 
  background-color: #00f1fe36;
}

.signin-btn:disabled {
  background-color: #ccc; /* Grey color when disabled */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}